.Button {
    border-radius: 7px;
    padding: 5px 10px;
    min-height: 30px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    margin: 5px;
    margin-bottom: 20px;
    box-shadow: 20px 20px 25px grey;
}

.Button:hover {
    cursor: pointer;
}